/* VARIABLES --------------------------------------------------------------*/
:root {
  --light-color: #202020;
  --dark-color: #181818;
  // --highlight-color: #bea028; Yellow
  // --highlight-color: #1c5d99; Blue
  --highlight-color: #1f487e;
  --white: #f1f1f1;

  // Makes REM = 10px, so that it's easier to work with
  font-size: 62.5%;
}

/* RESETS --------------------------------------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BASE STYLES --------------------------------------------------------------*/
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--light-color);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;

  // Resets back to the body's original font size (see comment on the root element styles at the top)
  font-size: 1.6em;
}

// MIXINS
@mixin flex-column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

@mixin card-style {
  @include shadow;

  margin: 0 2.5rem;
  padding: 2.5rem;
  background-color: var(--dark-color);
  border-left: var(--highlight-color) solid 4px;

  @media only screen and (max-width: 450px) {
    min-width: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

//HEADER
header,
header #h1-container,
header #description {
  @include flex-column-center;
  text-align: center;
}

header {
  min-height: 100vh;
}

header #h1-container {
  flex: 5;
  align-self: stretch;

  h1 {
    font-size: 5rem;
    font-weight: 500;
    padding: 0 1.5rem;
    position: relative;
    align-self: stretch;

    @media only screen and (max-width: 400px) {
      font-size: 3.5rem;
    }
  }
  h1::after {
    @include shadow;
    content: "";
    background-color: var(--highlight-color);
    border-radius: 4px 0 0 4px;

    position: absolute;
    z-index: -1;
    height: 55%;
    bottom: -5%;
    right: 15%;
    left: 25%;
    width: 75%;

    max-height: 50px;
  }
}

header #description {
  font-size: 2rem;
  flex: 8;
  align-self: stretch;
  border-top: 4px solid var(--highlight-color);
  border-bottom: 4px solid var(--highlight-color);
  background-color: var(--dark-color);

  @media only screen and (max-width: 400px) {
    padding: 3rem 0;
    font-size: 1.6rem;
  }

  p {
    margin-bottom: 3rem;
    max-width: 835px;
    min-width: 650px;
    padding: 0 1.5rem;

    &:last-of-type {
      margin: 0;
    }

    strong {
      font-weight: 400;
      border-bottom: var(--highlight-color) 3px solid;
    }

    @media only screen and (max-width: 655px) {
      min-width: 0;
    }
  }
}

// SECTIONS
main > section {
  @include flex-column-center;
  margin: 7.5rem 0 0 5rem;

  @media only screen and (max-width: 450px) {
    margin-left: 1.5rem;
  }
  h2 {
    @include shadow;

    align-self: stretch;
    background-color: var(--highlight-color);
    border-radius: 4px 0 0 4px;

    padding: 1.25rem 2.5rem;
    margin-bottom: 2.5rem;

    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  h3 {
    border-bottom: var(--highlight-color) 1px solid;
    margin-bottom: 0.5rem;
    width: fit-content;
  }
}

// SECTION: Work experience
section#workExperience div.jobs {
  @include card-style;

  align-self: stretch;
  margin-bottom: 2.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  & > div {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: 450px) {
      flex-flow: column nowrap;
    }
  }

  img {
    border-radius: 4px;
    @include shadow;

    @media only screen and (max-width: 450px) {
      margin-bottom: 1rem;
    }
  }

  div.job-description {
    margin-left: 2.5rem;

    @media only screen and (max-width: 450px) {
      margin-left: 0;
    }

    h3 {
      border-bottom: var(--highlight-color) 1px solid;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }

  div.job-description span {
    display: block;
    opacity: 0.75;

    @media only screen and (max-width: 450px) {
      text-align: center;
    }
  }
}

// SECTION: Languages
section#languages ul {
  @include card-style;

  align-self: stretch;
  list-style-type: none;

  li {
    margin-bottom: 2.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    p i {
      opacity: 0.75;
    }
  }
}

// SECTION: Aditional experience
section#aditionalExperience {
  .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 700px) {
      flex-flow: column nowrap;
    }
    div {
      @include card-style;

      align-self: stretch;
      width: 50%;

      @media only screen and (max-width: 700px) {
        width: auto;
        align-self: stretch;
      }
      &:first-child {
        margin-right: 0;

        @media only screen and (max-width: 700px) {
          margin-right: 2.5rem;
          margin-bottom: 2.5rem;
        }

        @media only screen and (max-width: 450px) {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// SECTION: Education
section#education {
  .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 700px) {
      flex-flow: column nowrap;
    }

    div {
      @include card-style;

      align-self: stretch;
      width: 50%;

      @media only screen and (max-width: 700px) {
        width: auto;
        align-self: stretch;
      }

      &:first-child {
        margin-right: 0;

        @media only screen and (max-width: 700px) {
          margin-right: 2.5rem;
          margin-bottom: 2.5rem;
        }

        @media only screen and (max-width: 450px) {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// Contact links aside

aside {
  position: fixed;
  top: 18%;
  transform: translateY(-50%);

  ul {
    list-style-type: none;

    li {
      margin-bottom: 1rem;
      border-left: 3px solid;
      padding-left: 0.5rem;
      opacity: 0.2;
      margin-bottom: 2rem;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: var(--highlight-color);
        opacity: 1;
        border-left: 6px solid;
      }
    }
  }
}

aside ul li a i {
  color: var(--white);
  transition: all 0.15s ease-in;
  width: 50px;
}

// FOOTER

footer {
  @include flex-column-center;

  margin: 7.5rem 0;

  ul {
    list-style-type: none;
    display: flex;

    @media only screen and (max-width: 450px) {
      @include flex-column-center;
    }
    li {
      margin-top: 2.5rem;
      margin-right: 2.5rem;

      @media only screen and (max-width: 450px) {
        margin: 0;
        margin-bottom: 2.5rem;
      }
      &:last-of-type {
        margin-bottom: 2.5rem;
        margin-right: 0;

        @media only screen and (max-width: 450px) {
          margin: 0;
          margin-bottom: 5rem;
        }
      }

      a {
        color: var(--white);
        opacity: 0.4;
        text-decoration: none;
        font-size: 1.4rem;

        &:hover {
          border-bottom: 0.5px solid var(--highlight-color);
          opacity: 1;
        }
      }
    }
  }

  span {
    text-align: center;
    align-self: stretch;
    display: block;
    opacity: 0.2;
    font-size: 1.4rem;
  }
}
